@use 'base/variables' as v;
@use 'base/mixins' as m;

.boletos{
    padding: 5rem 0;

    h3{
        text-align: center;
        color: v.$blanco;
        margin-bottom: 2rem;
    }
}
.contenedor-boletos{
    @include m.tablet{
        @include m.grid(2,5rem);
    }
}
.pase{
    .nombre-pase{
        text-align: center;
        font-size: 2.4rem;
        color: v.$blanco;
    }
    .pase-header{
        background-color: v.$rosa;
        text-align: center;
        p{
            margin: 0;
            color: v.$blanco;
            text-transform: uppercase;
        }
        

    }
    .pase-body{
        background-color: v.$blanco;
        ul{
            @include m.resetear-lista;
            li,:nth-child(odd){
                background-color: v.$blanco;
                padding: 1rem;
                border-bottom: 1px solid #e1e1e1;

            }
        }
    }
    .pase-footer{
        background-color: v.$morado;
        text-align: center;
        p{
            margin: 0;
            color: v.$blanco;
            font-size: 2.4rem;
        }

    }
}